body
{
   background-color: #B22222;
   background-image: url(images/Contact_Us_bkgrnd.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family:'Helvetica';
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   text-align: center;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 25px;
   width: 140px;
   float: left;
   margin: 0 4px 0 0;
   overflow: hidden;
}
#NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 25px;
   width: 140px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1_wrapper
{
   position: absolute;
   background-color: #FFFFFF;
   filter: alpha(opacity=0);
   opacity: 0.00;
   z-index: 9999;
}
#imgLogo
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#banSalisbury
{
   background-color: transparent;
   border: 0px #A0A0A0 solid;
   color: #000000;
   font-family:'Helvetica';
   font-weight: bold;
   font-size: 43px;
   text-align: right;
}
#banSalisbury span
{
   display: block;
   height: 43px;
   margin: 24px 0px 24px 0px;
}
#banFire
{
   background-color: transparent;
   border: 0px #A0A0A0 solid;
   color: #B22222;
   font-family:'Helvetica';
   font-weight: bold;
   font-size: 43px;
   text-align: center;
}
#banFire span
{
   display: block;
   height: 43px;
   margin: 24px 0px 24px 0px;
}
#Table1
{
   border: 1px #B22222 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table1 td
{
   padding: 5px 5px 5px 5px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: #B22222;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 38px;
}
#Table1 .cell1
{
   background-color: #FFFFFF;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 90px;
}
#Table2
{
   border: 1px #B22222 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table2 td
{
   padding: 5px 5px 5px 5px;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 .cell0
{
   background-color: #B22222;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 40px;
}
#Table2 .cell1
{
   background-color: #FFFFFF;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 66px;
}
#Table3
{
   border: 1px #B22222 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table3 td
{
   padding: 5px 5px 5px 5px;
}
#Table3 td div
{
   white-space: nowrap;
}
#Table3 .cell0
{
   background-color: #B22222;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 42px;
}
#Table3 .cell1
{
   background-color: #FFFFFF;
   border: 1px #C0C0C0 none;
   text-align: left;
   vertical-align: top;
   height: 74px;
}
#wb_titAboutDep 
{
   background-color: #B22222;
   border: 1px #B22222 solid;
   padding: 5px 0px 0px 5px;
   margin: 0;
   text-align: left;
}
#wb_titAboutDep div
{
   text-align: left;
}
#wb_txtAboutDep 
{
   background-color: #FFFFFF;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-top-style: none;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #B22222;
   border-right-color: #B22222;
   border-bottom-color: #B22222;
   border-left-color: #B22222;
   padding: 0px 0px 0px 5px;
   margin: 0;
   text-align: left;
}
#wb_txtAboutDep div
{
   text-align: left;
}
#wb_titAboutVil 
{
   background-color: #B22222;
   border: 1px #B22222 solid;
   padding: 5px 0px 0px 5px;
   margin: 0;
   text-align: left;
}
#wb_titAboutVil div
{
   text-align: left;
}
#wb_txtAboutVil 
{
   background-color: #FFFFFF;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-top-style: none;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #B22222;
   border-right-color: #B22222;
   border-bottom-color: #B22222;
   border-left-color: #B22222;
   padding: 0px 0px 0px 5px;
   margin: 0;
   text-align: left;
}
#wb_txtAboutVil div
{
   text-align: left;
}
#PhotoGallery1
{
   border-spacing: 3px;
   width: 100%;
   height: 100%;
}
#PhotoGallery1 .image
{
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .caption
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: center;
   text-decoration: none;
   height: 16px;
   padding: 0;
}
#PhotoGallery1 .image img
{
   border: 0px #000000 solid;
}
#PhotoGallery1_img0
{
   width: 130px;
   height: 92px;
}
#PhotoGallery1_img1
{
   width: 130px;
   height: 92px;
}
#PhotoGallery1_img2
{
   width: 92px;
   height: 92px;
}
#wb_Text1 
{
   background-color: #B22222;
   border: 1px #B22222 solid;
   padding: 5px 0px 0px 5px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#BanRescue
{
   background-color: transparent;
   border: 0px #A0A0A0 solid;
   color: #000000;
   font-family:'Helvetica';
   font-weight: bold;
   font-size: 43px;
   text-align: left;
}
#BanRescue span
{
   display: block;
   height: 43px;
   margin: 24px 0px 24px 0px;
}
#Banner1
{
   background-color: transparent;
   border: 0px #A0A0A0 solid;
   color: #000000;
   font-family:'Helvetica';
   font-weight: bold;
   font-size: 43px;
   text-align: left;
}
#Banner1 span
{
   display: block;
   height: 43px;
   margin: 24px 0px 24px 0px;
}
